<div class="blogWrapper">

<div class="blogInner">
<a href="http://blog.linenalley.com"><img src="http://blog.linenalley.com/wp-content/themes/newwebtheme/img/linenalley_logo_bg_blue.jpg" alt=""></a>
<br><br>

<h3>Welcome You To Our Blog!</h3>

<h4>You're just a click away from getting connected.</h4>
<br><br>
<a href="http://blog.linenalley.com" class="btn_blue">CLICK HERE</a>
<br>
<br>
<br>
<h5>Visit our blog page regularly for the latest news & tips in linen and mattresses.</h5>
</div>

</div>

